* {
  margin: 0px;
  padding: 0px;
  color: #828282;
  font-weight: 500;
  transition: 0.4s;
}

.App {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #06ECB7;
  justify-content: space-evenly;
  align-items: center;
}

.App-noSelectedFruitContainer {
  display: flex;
  text-align: center;
  
  width: 20%;
  height: 400px;
  background-color: #fff;
  border-radius: 6px;
  padding: 30px;
}

h2 {
  color: #141414;
  font-size: 24px;
}

@media (max-width: 600px) {
  .App {
    flex-direction: column;
    height: fit-content;
    gap: 20px;
  }
}
