.fruit-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #828282;
}

.fruit-card__textBox {
    width: 150px;
}

.fruit-card__selectBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 42px;

    background-color: #4146FF;
    border: solid 1.5px #4146FF;
    color: #fff;

    border-radius: 4px;

}

.fruit-card__selectBtn:hover {
    background-color: #fff;
    border: solid 1.5px #4146FF;
    color: #4146FF;
    
    cursor: pointer;
}
